.button {
    background: $blue;
    border: none;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size $l-size;
    text-decoration: none;
    border-radius: $radius;
}

.button:hover {
    background: lighten($blue, 10);
    color: white;
}

.button--no-margin {
    margin: 0;
}

.button--link {
    background: none;
}

.button--secondary {
    background: #888;
}
