.button {
    background: $blue;
    border: none;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size $l-size;
    text-decoration: none;
    border-radius: $radius;
}

.button:hover {
    background: lighten($blue, 10);
    color: white;
}

.button:disabled {
    background: lighten($blue, 30%);
}

.button--no-margin {
    margin: 0;
}

.button--link {
    background: none;
}

.button--secondary {
    background: #888;
}

.button--gray {
    color: #F5F5F5; // 100
    background: #9E9E9E; // 500

    &:hover,  &:disabled  {
        background: #E0E0E0; // 300
    }
}

.button--red {
    color: white; // 100
    background: #D32F2F; // 700

    &:hover,  &:disabled  {
        background: #EF5350; // 400
    }
}