.flex {
    display: flex;
}

.row.row {
    display: flex;
    flex-direction: row;
}

.flex--grow > * {
    flex-grow: 1;
}

.flex__grow {
    flex-grow: 1;
}

.flex-columns {
    display: flex;
    flex-direction: column;

    & > * {
        flex-grow: 1;
    }
}

@media (min-width: $breakpoint) {
    .flex-columns {
        flex-direction: row;
    }

    .mobile-only {
        display: none;
    }
}

@media (max-width: $breakpoint) {
    .desktop-only {
        display: none;
    }
}