.form {
    display: flex;
    flex-direction: column;
    > * {
        margin-bottom: $m-size;
    }
}

.form__error {
    margin: 0, 0, $m-size 0;
    font-style: italic;
}

.form__alert {
    color: $red;
    line-height: 1.2;
    text-align: left;
    background: $light-red;
    padding: $s-size;
    border-radius: $radius;
    border: 1px solid $red;
}

.form__error {
    color: $red;
    line-height: 1.2;
    text-align: left;
    padding-left: $s-size;
}

.form__error--compact {
    color: $red;
    line-height: 1.2;
    text-align: left;
    padding-left: $s-size;
    margin-bottom: -1.6rem;
    margin-top: 0.4rem;
}

.form--compact {
    display: flex;
    flex-direction: row;
}