.raport-header {
    display: none;
}

.raport {
    table {
        margin-top: 2rem;
        width: 100%;
        border-collapse: collapse;
    }

    caption {
        text-align: left;
        margin: 3rem 0.2rem 1rem;
        font-size: 2rem;
        font-weight: bold;
    }

    thead {
        background-color: #f7f7f7;
    }
    
    th {
        font-size: 1.2rem;
        padding: 0.6em 1em;
    }
    
    td {
        text-align: right;
        padding: 0.3em 0.6em;
    }
    
    tr {
        border: 1px solid black;
    }
    
    .raport--text {
        text-align: left;
        width: 100%;
    }

    .raport--title {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0.2rem 0;
    }
}