.summary {
    background: $off-white;
    margin-bottom: $l-size;
    padding: $l-size 0;
}

.summary--top {
    background: $off-white;
    padding-top: $l-size;
}

@media (max-width: 100rem) {
    .summary--top {
        background: $off-white;
        padding: $l-size 0;
    }
}

.summary--center {
    background: $off-white;
    display: flex;
    justify-content: space-evenly;
}

.summary__title {
    font-weight: 300;
    margin: 0;
    span {
        font-weight: bold;
    }
}

.summary__actions {
    margin: $m-size 0;
}
