// Colors
$dark-grey: #333;
$blue: #1c88bf;
$dark-blue: #364051;
$light-blue: #65c9fc;
$off-white: #f7f7f7;
$grey: #666;
$red: #ff0000;
$light-red: #ffa0a0;

// Font Size
$font-size-large: 1.2rem;
$font-size-small: 0.8rem;

// Spacing
$s-size: 0.75rem;
$m-size: 1rem;
$l-size: 2rem;
$xl-size: 3rem;
$desktop-breakpoint: 30rem;

// Border Radius
$radius: 4px;

$menu-size: 20rem;
$anim-time: 300ms;
$menu-breakpoint: 900px;